.nav#nav.leftRounded
  %a#communityNav.navItem{ :href =>  '#community' } Community
  %a#homeNav.navItem{ :href =>  "#home" } Home
  %a#askNav.navItem{ :href =>  "#ask" } Ask
  %a#answerNav.navItem{ :href =>  "#answer" } Answer

