:javascript
  $(function() {
    window.router = new AsqUs.Routers.RepsRouter({rep: #{@rep.to_json.html_safe}});
    Backbone.history.start();
  });

= link_to image_tag( '/logo.jpg'), 'logo.jpg' 



#rep_wrapper
  = render :partial => 'reps/nav'
  #content.rightRounded

