:javascript
  $(function() {
    window.router = new AsqUs.Routers.RepsRouter({rep: #{@rep.to_json.html_safe}});
    Backbone.history.start();
  //var nav = document.getElementById('nav');
  //window.setTimeout (function() {
    var nav = document.getElementById('nav');
    nav.style.WebkitTransition = '-webkit-transform 300ms ease-in-out';
    //nav.style.WebkitTransition = '-webkit-tap-highlight-color: rgba(0,0,0,0)';
    //added to reps style sheet
    nav.style.WebkitTransform = 'translate3d(0, 0, 0) rotate(0deg)';
    nav.style.WebkitTransition = 'backface-visibility:hidden';
    nav.style.WebkitTransition = '-webkit-backface-visibility:hidden'; /* Chrome and Safari */
    nav.style.WebkitTransition = '-moz-backface-visibility:hidden'; /* Firefox */
  //}, 0);
  });


= link_to image_tag( '/logo.jpg'), 'logo.jpg' 



#rep_wrapper
  = render :partial => 'reps/nav'
  #content.rightRounded

