:javascript
  $(function() {
    window.router = new AsqUs.Routers.RepsRouter(
      {rep: #{@rep.to_json.html_safe},
       polls: #{@polls.to_json.html_safe}});
    Backbone.history.start();
  });

%h1 Rep Index

#rep_wrapper
  = render :partial => 'reps/nav'
  #content.rightRounded

