<h1>Edit rep</h1>

<form id="edit-rep" name="rep">
  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="field">
    <label for="district"> district:</label>
    <input type="text" name="district" id="district" value="<%= district %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Rep" />
  </div>

</form>

<a href="#/index">Back</a>