<div id="rep_home">


  <div id="rep_info_header">

    <p>
      <b>First name:</b>
      <%= first_name %>
    </p>

    <p>
      <b>Last name:</b>
      <%= last_name %>
    </p>

    <p>
      <b>District:</b>
      <%= district %>
    </p>

  </div>


  <div id="poll_list">

  </div>


  <div id="question_list">

  </div>


  <div id="user_list">

  </div>
  
  
</div>


<a href="#/index">Back</a>

