<div id="users"></div>

<script type="text/javascript">
  $(function() {
    window.router = new AsqUs.Routers.UsersRouter({users:
      <%= @users.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
