#main.container

  .page-header
    %h1
      Asq.Us
      %small
        Your voice counts

  .row
    #home.span12
      .row
        .span8.pull-left
          = image_tag 'http://placehold.it/800x450'
          .caption
            The AsqForce
        .span4.pull-right
          %p
            Asq.Us is a publicly-owned political dialogue platform.
          %p
            As a nonprofit building open-source technology, Asq.Us bridges the gap between you and your elected officials.
          %p
            By using the internet, we can finally connect all of the people that make up America's democracy. 

      .faq-item.well.speech-bubble-arrow
        .lead
          What do you mean by &quot;publicly-owned&quot;?
        %p.caption
          Asq.Us is being built by a non-profit organization for the people and by the people.
          We intend to modernize democracy and place this platform in the public domain, being
          open-source and fully transparent.

      .faq-item.well.speech-bubble-arrow
        .lead
          How will the project be funded after its launch?
        %p.caption
          We believe an open, issue-based dialogue platform will be a valuable improvement to
          democracy. As such, we intend to support it in a way similar to Wikipedia - primarily
          through donations and grants.

      .faq-item.well.speech-bubble-arrow
        .lead
          What level of government will be eligible to use the platform?
        %p.caption
          Any elected official or public representative at any level - city, county, state, and national.

      .faq-item.well.speech-bubble-arrow
        .lead
          How will you determine who is a representative? How will you prevent abuse?
        %p.caption
          Initially, we will contact representatives where we have contacts and connections.
          We will verify representatives over the phone and again by email.

      .faq-item.well.speech-bubble-arrow
        .lead
          Why is the platform open-source?
        %p.caption
          The platform is all about transparency. The more contributors we get, the better the platform will be.
          
      .faq-item.well.speech-bubble-arrow
        .lead
          Are you trying to create &quot;Direct Democracy&quot;?
        %p.caption
          No. A direct democracy is probably neither feasible nor advisable. Nonetheless,
          constituents should still be represented. We are creating an easy way for representatives
          to find out how their constituents feel about issues. It also allows people to ask
          questions of their constituents.
          
        
