:javascript
  $(function() {
    window.router = new AsqUs.Routers.HomeRouter({
      polls: #{@polls.to_json.html_safe},
      location: {
        state: '#{@state_name}'
      }
    });
    Backbone.history.start();
  });



#message

#repContainer


#home
  #map

