:javascript
  $(function() {
    window.router = new AsqUs.Routers.HomeRouter({
      polls: #{@polls.to_json.html_safe},
      user_auth: #{@user_auth},
      location: {
        state: '#{@state_name}',
        city: '#{@city_name}'
      }
    });
    Backbone.history.start();
  });


.hero-unit
  We're building a publicly-owned political dialogue platform.

  As a nonprofit that's building open-source technology, Asq.Us is bridging the gap between you and your elected officials. 

  By using the internet, we can finally connect the people that make up America's democracy.


#repContainer


#home


#message
#poll

