:javascript
  $(function() {
    window.router = new AsqUs.Routers.MapRouter({
      polls: #{@polls.to_json.html_safe},
      user_auth: #{@user_auth},
      location: {
        state: '#{@state_name}',
        city: '#{@city_name}'
      }
    });
    Backbone.history.start();
  });


#testModal

.row
  #home.span12

#message
#poll

