<script>
  $(function() {
    $( "#location-confirm" ).dialog({
        resizable: false,
        height:180,
        width:430,
        modal: true,
        buttons: [
            {
              text: "Yes, I live in <%= city %>",
              class: 'btn-location-accept',
              click: function() { $( this ).dialog( "close" ); }
            },
            {
              text: "No, I live elsewhere",
              class: 'btn-location-decline',
              click: function() { $( this ).dialog( "close" ); }
            }
        ]
	});
  });
</script>


<div id="location-confirm" title="Connect with your representatives">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    We think you live in <%= city %>, is this correct?</p>
</div>
        

