<form class="askQuestion well" method="post">
    <label>Ask Your Representative</label>
    <input class="askTitle" type="text" class="span3" value="Who is paying for the proposed
bridge from Detroit to Windsor?">
    <textarea class="askPrompt" rows="5" cols="25">
    This is the prompt for my question. Here I explain why my question is a
valid issue. This part can be long and even include links."
    </textarea>
    <input class="submitQuestion btn btn-primary" value="Submit Your Question" type="submit">
</form> 
