<script>
    console.log("intro_pane loaded");
</script>

<div class="intro_container">
  <div id="introOverlay">
    <div  id="tablet">
    </div>
  </div>

  <div class="introTitle">
    <h1>Let your voice</h1>
    <h1>be heard.</h1>
    <h2>Connect with your elected officials</h2>
    <h2>like never before.</h2>
    <br>
    <a href="#signup">
    <img src="assets/link_to_email.png"  />
    </a>
    <div onclick="location.href='#signup';" style="cursor:pointer; visibility:hidden;" class="input-append sendToEmail">
        <input size="16" type="text" disabled="disabled">
        <button class="btn btn-success" type="button">Join!</button>
    </div>
  </div>
</div>
