<div class="intro_container span10 offset1">
  <div id="introOverlay">
    <img src="/assets/ipad-landscape.png" id="tablet" />
  </div>

  <div class="introTitle">
    <h1>Let your voice</h1>
    <h1>be heard.</h1>
    <h2>Connect with your elected officials</h2>
    <h2>like never before.</h2>
  </div>
</div>
