
<div id="state">
  <img src="<%= state_graphic_path %>" class="state_graphic" alt="" />
</div>

<div class="pollDisplay">
</div>
<button class="pollTest ui-button btn btn-large">test button</button>
<a class="pollTest2 ui-button btn btn-large" href="#/nextt">test link</a>
<a class="pollTest3 ui-button btn btn-large" href="#">index link</a>
