
<div id="state">
  <img src="<%= state_graphic_path %>" class="state_graphic" alt="" />
</div>


<div class="test-info">
    <button class="pollButton agree">Good Idea</button>
    <input type="button" class="pollButton agree" value="bad idea">
</div>

<div class="pollDisplay">
</div>
