
  <div id="state">
    <img src="<%= state_graphic_path %>" class="state_graphic" alt="" />
  </div>

  <div class="pollDisplay">
    <div id="poll_results_container">
    </div>
  </div>

<div class="pollStats">
</div>

<div class="poll-wrapper span10">
</div>

