
<div class="poll-result well span8">
    <h2>Your voice has been heard!</h2>
    <h3><%= first_name %> <%= last_name %>,</h3>
    <h3>thanks you for your response.</h3>
    <p>Insert statistics here</p>

    <a href="#" class="pollNext btn btn-primary btn-large">Next question</a>
</div>
        


