
<div class="poll-result well span6">
    <h2>Your voice has been heard!</h2>
    <h3><%= title %>, <%= first_name %> <%= last_name %>,</h3>
    <h3>thanks you for your response.</h3>
    <p>Insert statistics here</p>

    <button class="nextQuestion btn btn-primary btn-large">Next question</button>
</div>
        


