<div id="site-info" class="span4">
  <img alt="AsqUs" class="logo" src="/assets/logo/logo_orange_cyan_transparent.png" />
  <div class="site-info-text">
    <p>
      AsqUs publicly-owned political dialogue platform.
    </p>
    <p>
      As a nonprofit that's building open-source technology, AsqUs is bridging the gap between you and your elected officials. 
    </p>
    <p>
      We're taking the 'townhall' concept to the 21st century.
    </p>
    <p>
      By using the Internet, we can finally connect the people that make up America's democracy.
    </p>
  </div>
</div>

