/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_styles.min
 *= require bootstrap-responsive
 *= require_tree .
*/

#admin_controls {
  position: fixed;
  top: 0px;
  right: 5px;
  list-style-type: none;
}

  #admin_controls a {
    display: block;
    float: left;
    width: 50px;
    height: 20px;
    border: 1px solid #633;
  }
  
/* Fix for JQuery UI Dialog scrollbar bug */
.ui-widget-overlay {
  position: fixed !important;
}
