/* Site-wide styles */


/* Colors:

$blue: #012245
$cyan: #92CCEA
$white: #FFFFFF
$orange: #FF8600
*/


body {
  line-height: 1.1;
  background-color: #012245;
}


.header_logo {
  height: 28px;
}

.brand {
  padding: 8px 5px 2px !important;
  margin-right: 20px;
}


#site-info {
  
}

  #site-info .site-info-text {
    color: #92CCEA;
  }

.pips {
  width: 200px;
  margin: 20px auto 50px;
}

  .pip {
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 1px solid black;
    margin: 0 6px;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: #555;
  }
  
    .pip.current {
      background-color: #DDF;
    }


.well {
	background:#DDD;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEE), to(#CCC));
	background:-moz-linear-gradient(#EEE, #CCC);
	background:-o-linear-gradient(#EEE, #CCC);
	background:linear-gradient(#EEE, #CCC);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-shadow: 1px 1px 1px #FFF;
}


.dark {
  background-color: #012245;
}


.facebook-share img {
  height: 20px;
  width: 20px;
}


#admin_controls {
  position: fixed;
  top: 0px;
  right: 5px;
  list-style-type: none;
}

  #admin_controls a {
    display: block;
    float: left;
    width: 50px;
    height: 20px;
    border: 1px solid #633;
  }
  
/* Fix for JQuery UI Dialog scrollbar bug */
.ui-widget-overlay {
  position: fixed !important;
}

