/*
  Speech bubbles: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
*/

/* Site-wide styles */


/* Colors */

  $blue: #012345;
  $cyan: #92CCEA;
  $orange: #FF8600;
  $blue-gradient-first: #123456;
  $blue-gradient-second: $blue;


body {
  line-height: 1.1;
  /*background-color: $blue;*/
  
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;


  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(bottom, #93CCEA 0%, #E8E9EA 40%, #FFFFFF 90%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(bottom, #93CCEA 0%, #E8E9EA 40%, #FFFFFF 90%);

  /* Opera */ 
  background-image: -o-linear-gradient(bottom, #93CCEA 0%, #E8E9EA 40%, #FFFFFF 90%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #93CCEA), color-stop(.4, #E8E9EA), color-stop(.9, #FFFFFF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(bottom, #93CCEA 0%, #E8E9EA 40%, #FFFFFF 90%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to top, #93CCEA 0%, #E8E9EA 40%, #FFFFFF 90%);

}

body > div {
}

a {
  text-decoration: none;
}
  
  a:hover {
    text-decoration: none;
    text-shadow: 0 0 8px rgba(0, 70, 150, 0.3);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}


.header_logo {
  height: 28px;
}

.brand {
  padding: 8px 5px 2px !important;
  margin-right: 20px;
}


.feature {
  margin-bottom: 30px;
}
  .feature img {
    height: 400px;
  }


.navbar-form .search-query {
  display: inline-block;
  width: auto;
}

.navbar-inner {
  background-color: #2C405E;
  background-image: -moz-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: -ms-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blue-gradient-first), to($blue-gradient-second));
  background-image: -webkit-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: -o-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-gradient-first', endColorstr='$blue-gradient-second', GradientType=0);
}

  .btn-navbar {
    background-color: #2C405E;
    background-image: -moz-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: -ms-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blue-gradient-first), to($blue-gradient-second));
    background-image: -webkit-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: -o-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-gradient-first', endColorstr='$blue-gradient-second', GradientType=0);
  }

  .navbar .divider-vertical {
    background-color: $blue-gradient-second;
    border-right: 1px solid $blue-gradient-first;
  }


.new-signup-modal {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
  
.new-signup-action {
  margin: 10px 0 0;
  text-align: center;
}

  .new-signup-action form {
    text-align: left;
  }

  .new-signup-action .form-inline input {
    margin: 0 1px;
    font-size: 11pt;
  }
    .new-signup-action .form-inline input:first-child {
      margin-left: 0;
    }
    .new-signup-action .form-inline input.user_email {
      margin: 0 6px 0 0;
    }
    .new-signup-action .form-inline .submit-button {
      margin-left: 6px;
    }


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#footer footer {
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  font-size: 11pt;
}
  
  #footer .copyright {
    display: inline;
    float: left;
    width: 140px;
    margin: 0 10px;
    color: #FFF;
    text-shadow: 1px 1px 1px #CCC;
  }

  #footer ul {
    float: right;
    margin: 0;
  }
  
    #footer ul li {
      float: left;
      display: inline;
      margin: 0 0 0 15px;
    }
  
  #footer .communicate:hover {
    opacity: 1;
  }

#site-info {
  float: right;
}

  #site-info .site-info-text {
    color: #012345;
  }

.pips {
  width: 200px;
  height: 30px;
  margin: 20px auto 50px;
  clear: both;
}

  .pip {
    height: 16px;
    width: 16px;
    display: inline-block;
    border: 1px solid black;
    margin: 0 14px;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #555;
    cursor: pointer;
  }
    .pip:hover {
      background-color: #999;
    }
  
    .pip.current {
      background-color: #C99;
      cursor: default;
    }
      .pip.current:hover {
        background-color: #C99;
      }


.center-column {
  float: none;
  margin: 0 auto;
}


.well {
  position: relative;
	background:#DDD;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEE), to(#CCC));
	background:-moz-linear-gradient(#EEE, #CCC);
	background:-o-linear-gradient(#EEE, #CCC);
	background:linear-gradient(#EEE, #CCC);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-size: 11pt;
	text-shadow: 1px 1px 1px #FFF;
}


.dark {
  background-color: #012245;
}


.facebook-share img, .twitter-share-button img {
  height: 20px;
  width: 20px;
}


#admin_controls {
  position: fixed;
  top: 0px;
  right: 5px;
  list-style-type: none;
}

  #admin_controls a {
    display: block;
    float: left;
    width: 50px;
    height: 20px;
    border: 1px solid #633;
  }



.speech-bubble-arrow:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#CCC transparent; 
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}



/* Icons */

.communicate {
  display: block;
  border: 0;
  overflow: hidden;
  background: url(/assets/icons/communicate_sprite.png) no-repeat;
  background-repeat: no-repeat;
  text-align: left;
  display: inline-block;
  position: relative;
  text-indent: -999px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

  .communicate.twiter {
    background-position: 0;
  }

  .communicate.email {
    background-position: 0 -78px;
  }
  


/* Fix for JQuery UI Dialog scrollbar bug */
.ui-widget-overlay {
  position: fixed !important;
}

