/* Site-wide styles */


/* Colors */

  $blue: #012345;
  $cyan: #92CCEA;
  $orange: #FF8600;
  $blue-gradient-first: #123456;
  $blue-gradient-second: $blue;


body {
  line-height: 1.1;
  background-color: $blue;
}


.header_logo {
  height: 28px;
}

.brand {
  padding: 8px 5px 2px !important;
  margin-right: 20px;
}

.navbar-inner {
  background-color: #2C405E;
  background-image: -moz-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: -ms-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blue-gradient-first), to($blue-gradient-second));
  background-image: -webkit-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: -o-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  background-image: linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-gradient-first', endColorstr='$blue-gradient-second', GradientType=0)
}

  .btn-navbar {
    background-color: #2C405E;
    background-image: -moz-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: -ms-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blue-gradient-first), to($blue-gradient-second));
    background-image: -webkit-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: -o-linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    background-image: linear-gradient(top, $blue-gradient-first, $blue-gradient-second);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-gradient-first', endColorstr='$blue-gradient-second', GradientType=0)
  }
  

#site-info {
  float: right;
}

  #site-info .site-info-text {
    color: #92CCEA;
  }

.pips {
  width: 200px;
  margin: 20px auto 50px;
  clear: both;
}

  .pip {
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 1px solid black;
    margin: 0 6px;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: #555;
    cursor: pointer;
  }
    .pip:hover {
      background-color: #999;
    }
  
    .pip.current {
      background-color: #DDF;
      cursor: default;
    }
      .pip.current:hover {
        background-color: #DDF;
      }


.well {
	background:#DDD;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEE), to(#CCC));
	background:-moz-linear-gradient(#EEE, #CCC);
	background:-o-linear-gradient(#EEE, #CCC);
	background:linear-gradient(#EEE, #CCC);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-shadow: 1px 1px 1px #FFF;
}


.dark {
  background-color: #012245;
}


.facebook-share img {
  height: 20px;
  width: 20px;
}


#admin_controls {
  position: fixed;
  top: 0px;
  right: 5px;
  list-style-type: none;
}

  #admin_controls a {
    display: block;
    float: left;
    width: 50px;
    height: 20px;
    border: 1px solid #633;
  }
  
/* Fix for JQuery UI Dialog scrollbar bug */
.ui-widget-overlay {
  position: fixed !important;
}

