<h1>Your polls</h1>

<table id="polls-table">
  <tr>
    <th>Title</th>
    <th>Prompt</th>
    <th>Category</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

