<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Prompt:</b>
  <%= prompt %>
</p>

<p>
  <b>Category:</b>
  <%= category %>
</p>

<p>
  <b>Published:</b>
  <%= published %>
</p>


<a href="#/index">Back</a>